.App {
  width: 87.5rem;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  background-color: #fafafa;
}